<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://drive.google.com/uc?export=view&id=1zIB3Nw_z8N2SJSSdd2yWQIsDS0MGPYKm' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>IS111 - Revision</h3><h3>Week 13</h3></th>
    </tr>
</table>

### 1. Which variables below are not valid (i.e., will cause an error)?

<table align="left" class="table table-bordered" style="width:40%">
<tr>
<th style="text-align:center; width:20%">No</th>
<th style="text-align:center; width:50%">name</th>
<th style="text-align:center;">valid?</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>interest-rate</td><td></td></tr>
<tr><td style="text-align:center; ">b.</td><td>apple&#95;tv&#95;123</td><td></td></tr>
<tr><td style="text-align:center; ">c.</td><td>COUNTER</td><td></td></tr>
<tr><td style="text-align:center; ">d.</td><td>4&#95;you</td><td></td></tr>
<tr><td style="text-align:center; ">e.</td><td>&#95;account&#95;balance</td><td></td></tr>
<!-- <tr><td style="text-align:center; ">f.</td><td>fruit.apple</td><td></td></tr> -->
<!-- <tr><td style="text-align:center; ">g.</td><td>I&#95;love&#95;programming!</td><td></td></tr> -->
<!-- <tr><td style="text-align:center; ">h.</td><td>gold&#95;is&#95;expensive&#95;&#36;</td><td></td></tr> -->
</table>

### 2. Evaluate the following expressions:

<table align="left" class="table table-bordered" style="width:50%">
<tr>
<th style="text-align:center; width:5%">#</th>
<th style="text-align:center; width:30%">Expression to evaluate</th>
<th style="text-align:center; width:10%">Result</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>print (15 // 7 + 15 % 4)</td><td></td></tr>
<tr><td style="text-align:center; ">b.</td><td>print (16 / 4)</td><td></td></tr>
<tr><td style="text-align:center; ">c.</td><td>print (3 > 5 or not 9 - 5 != 4)</td><td></td></tr>
<tr><td style="text-align:center; ">d.</td><td>print (19 // 3 &#8727;&#8727; 2 &#8727; 2)</td><td></td></tr>
<tr><td style="text-align:center; ">e.</td><td>print(2 &#8727;&#8727; 2 &#8727;&#8727; 3)</td><td></td></tr>
<tr><td style="text-align:center; ">e.</td><td>print(int('10' + '2'), str(10 + 2))</td><td></td></tr>
</table>

In [ ]:
# a.
print (15 // 7 + 15 % 4)

In [ ]:
# b.
print (16 / 4)

In [ ]:
# c.
print (3 > 5 or not 9 - 5 != 4)

In [ ]:
# d.
print (19 // 3 ** 2 * 2)

In [ ]:
# e.
print(2 ** 2 ** 3)

In [ ]:
# Compare the following with e. above.
print((2 ** 2) ** 3)

In [ ]:
# f.
print(int('10' + '2'), str(10 + 2))

### 3. What is the output of the following code?

#### a)

In [ ]:
list1 = []
for n in range(1, 15):
    if n % 5 == 0 or n % 3 == 0:
        list1.append(n)
print(list1)

#### b)

In [ ]:
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8]

my_list = list1[1:4] + [len(list1)] + list2[len(list2)-3:] 
my_list.append(len(list2))
my_list.append(list1[1:2])
print(my_list)

#### c)

In [ ]:
def mystery1(my_list, word):
    for i in range(len(my_list)):
        if word in my_list[i]:
            my_list[i] = '*'

str_list = ['apple', 'banana', 'durian', 'mango', 'pear']
mystery1(str_list, 'p')
print(str_list)

#### d)

In [ ]:
def mystery2(my_list, word):
    for item in my_list:
        if word in item:
            item = '*'
    
str_list = ['apple', 'banana', 'durian', 'mango', 'pear']
mystery2(str_list, 'p')
print(str_list)

#### e)

In [1]:
def modify_1(x, y):
    x[0] = y

my_list = [1, 2, 3]
modify_1(my_list, 99)
print(my_list)
    
my_dict = {1:0, 0:1}
modify_1(my_dict, 99)
print(my_dict)

my_str = '123'
modify_1(my_str, '9')
print(my_str)

[99, 2, 3]
{1: 0, 0: 99}

TypeError: 'str' object does not support item assignment

#### f)

In [ ]:
def modify_2(x, y):
    x.append(y)

def modify_3(x, y):
    x = x + [y]
    

my_list = [1, 2, 3]
modify_2(my_list, 99)
print(my_list)

my_list = [1, 2, 3]
modify_3(my_list, 99)
print(my_list)

### 4. Vowels

Write a program that prompts the user for a string and displays the string where all the vowels ('a', 'e', 'i', 'o', 'u') (case insensitive) have been replaced by *.

```
Enter a sentence :Mississippi River Meets Ohio River
New sentence     :M*ss*ss*pp* R*v*r M**ts *h** R*v*r
```

In [ ]:
# Write your code here

### 5. Digits

Define a function called `display_chars_after_digits`. The function takes in a string `my_str` as its parameter. The function prints those non-digit characters that appear immediately after a segment of digits in `my_str`.

E.g., 

- `display_chars_after_digits('1a2b3c')` prints `abc`
- `display_chars_after_digits('123ABC456')` prints `A`
- `display_chars_after_digits('abc12ABC0& 35.9-6.30=29.6')` prints `A&.-.=.`

In [ ]:
# Write your code here

In [ ]:
# prints abc
display_chars_after_digits('1a2b3c')

In [ ]:
# prints A
display_chars_after_digits('123ABC456')

In [ ]:
# prints A&.-.=.
display_chars_after_digits('abc12ABC0& 35.9-6.30=29.6')

### 6. Rectangles

#### (a)

Define a function called `get_total_area`. The function takes in a parameter called `rect_list`. It is a list of tuples, where each tuple contains two integers, representing the width and length of a rectangle. The function returns the total area of all the rectangles in the list. Note that the area of a rectangle is equal to its width multiplied by its length.

E.g., `get_total_area([(1, 2), (4, 5), (2, 9)])` returns 40 (because the area of the first rectangle is 2, the area of the second rectangle is 20 and the area of the third rectangle is 18).

In [ ]:
# Write your code here

In [ ]:
# prints 40
print(get_total_area([(1, 2), (4, 5), (2, 9)]))

#### (b)

Define a function called `get_largest_rectangle`. The function takes in the same parameter as the one above. It returns a tuple containing three integers: the first two are the width and length of the rectangle that has the largest area in `rect_list`, the third integer is its area. 

If there are two rectangles sharing the same size (i.e., same area), the function should return the first such rectangle in `rect_list`.

E.g., `get_largest_rectangle([(1, 2), (4, 5), (2, 9), (10, 2)])` returns `(4, 5, 20)`. This is because the rectangle `(4, 5)` has the largest area of 20 among the rectangles. Although the last rectangle `(10, 2)` also has an area of 20, it appears after `(4, 5)` and therefore is not returned.

You can assume that the list `rect_list` contains at least one element.

In [ ]:
# Write your code here

In [ ]:
# The code below should print the tuple (4, 5, 20)
print(get_largest_rectangle([(1, 2), (4, 5), (2, 9), (10, 2)]))

### 7. User Input

Write some code that prompts the user for two integer numbers `num1` and `num2` and stops prompting the user when 

(1) `num1` is a multiple of 3 and `num2` is a multiple of 5,

__or__ 

(2) when the sum of the two numbers is a multiple of 7.

For example:

```
first number : 4
second number : 5
Not valid!

first number : 6
second number : 6
Not valid!

first number : 6
second number : 10
Bye!
```

Another example run:
```
first number : 17
second number : 4
Bye!
```

In [ ]:
# Write your code here

### 8. Segmentation
Define a function called ```segment``` that takes in a string called ```text``` as its parameter.

```text``` contains segments of texts separated by one of the following characters: ```|-=```.

You can assume that `text` doesn't start with or end with one of these separators, e.g., you won't have `'|abc='` as `text`.

For example, ```text``` may be ```'a b c|def-123 aaa=|(abc)'``` .

The segments inside the string are:

```
'a b c' ,  'def' , '123 aaa' , '' , '(abc)'
```

The function segments the input string and returns all the segments together with the separaters as a list.

For example, given the input string above, the function returns the following list:

```
['a b c', '|', 'def', '-', '123 aaa', '=', '', '|', '(abc)']
```

In [ ]:
# Write your code here

In [ ]:
print(segment('a b c|def-123 aaa=|(abc)'))

## <font color = 'green'>Additional Questions</font>

### 9. What is the output of the following code?

#### a)

In [ ]:
list2 = []
for n in range(2, 20):
    if n % 2 == 0 and n % 7 == 0:
        list2.append(n)
print(list2)

#### b)

In [ ]:
my_list = [3, 5, 7, 5, 4, 6, 8, 4]

your_list = []
for n in my_list:
    if n not in your_list:
        your_list.append(n)
print(your_list)

#### c)

In [ ]:
def mystery1(a, b, c):
    a = b + c
    d = 2 * a
    print(d)
    return a + b / c

c = 2
b = 3
a = 4
d = mystery1(a, b, c)
print(d)

#### d)

In [ ]:
def mystery2(s1, s2):
    s = s1[1:len(s1)] + s2[0:3]
    to_return = s.split('o')
    return to_return
    
str1 = 'hello'
str2 = 'world'
unknown = mystery2(str1, str2)
print(unknown)

#### e)

In [ ]:
def mystery5(x, y=10, z='SMU'):
    print(x + y)
    print(z + ' Student Association')

In [ ]:
mystery5(3)

In [ ]:
mystery5(3, 2)

In [ ]:
mystery5(3, 2, 'SUTD')

In [ ]:
mystery5(3, z='NTU')

In [ ]:
mystery5(3, y=5, z='NUS')

In [ ]:
mystery5(3, 'NUS')

#### f)

In [ ]:
name_1 = 'Good morning!'
name_2 = 'Good evening!'

print (name_1[0] + name_1[5] + name_1[len(name_1) - 1])

print (name_1[0:4], name_2[5:])

substr = name_2[5:9] + 't'
print(substr)
print(substr[::-1])

### 10. 
Given the Python code below, what will be the output of the code for the following values of n?

In [ ]:
if n <= 5:
    print('Morning')
else: 
    if n > 20:
        print('Afternoon')
    elif n < 10:
        print('Evening')
    elif n > 8:
        print('Night')
    else:
        print('Day')

<table align="left" class="table table-bordered" style="width:40%">
<tr>
<th style="text-align:center; width:5%">No</th>
<th style="text-align:center; width:5%">Value of a</th>
<th style="text-align:center; width:10%">Output</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>n = 2</td><td></td></tr>
<tr><td style="text-align:center; ">b.</td><td>n = 7</td><td></td></tr>
<tr><td style="text-align:center; ">c.</td><td>n = 9</td><td></td></tr>
<tr><td style="text-align:center; ">d.</td><td>n = 18</td><td></td></tr>
</table>

#### <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Which value of n will print 'Day' on the screen?

### 11. 

#### (a)

Write a program that prompts the user for a positive integer. The program prints out the odd integers between 1 and the number (both inclusive).


```
Enter a number :10
1 3 5 7 9 
```

```
Enter a number :5
1 3 5
```

In [ ]:
# Write your code here

#### (b) 

Write a program that prompts the user for a positive integer. Call this number $n$. The program then displays all the even numbers between 0 and 2$n$ (both inclusive).

```
Enter a number :10
0 2 4 6 8 10 12 14 16 18 20 
```

Other sample run:

```
Enter a number :15
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 
```

In [ ]:
# Write your code here

### 12.

Observe the output below and write a program that prompts the user for a positive integer and prints out a sequence of numbers as shown below:

Sample run 1:

```
Enter a number :10
0 4 8 12 16 20 
```
Sample run 2:

```
Enter a number :35
0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 
```

In [ ]:
# Write your code here

### 13.

Write a program that takes in a string and prints out the characters with odd indices. 


```
Enter a sentence :Blue Lagoon
position 1: l
position 3: e
position 5: L
position 7: g
position 9: o

total: 5 characters at odd positions
```

In [ ]:
# Write your code here

### 14.

Define a function ```get_total_length()``` that takes in a list of strings as its parameter. The function returns the total length of all the strings in the list.

E.g. ```get_total_length(['123', '00', 'abcde'])``` should return 10.

In [ ]:
# write you code here

In [ ]:
# prints 10
print(get_total_length(['123', '00', 'abcde']))