<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://drive.google.com/uc?export=view&id=1zIB3Nw_z8N2SJSSdd2yWQIsDS0MGPYKm' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>IS111 - Revision Solutions</h3><h3>Week 13</h3></th>
    </tr>
</table>

### 1. Which variables below are not valid (i.e., will cause an error)?

<table align="left" class="table table-bordered" style="width:40%">
<tr>
<th style="text-align:center; width:20%">No</th>
<th style="text-align:center; width:50%">name</th>
<th style="text-align:center;">valid?</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>interest-rate</td><td></td></tr>
<tr><td style="text-align:center; ">b.</td><td>apple&#95;tv&#95;123</td><td></td></tr>
<tr><td style="text-align:center; ">c.</td><td>COUNTER</td><td></td></tr>
<tr><td style="text-align:center; ">d.</td><td>4&#95;you</td><td></td></tr>
<tr><td style="text-align:center; ">e.</td><td>&#95;account&#95;balance</td><td></td></tr>
<!-- <tr><td style="text-align:center; ">f.</td><td>fruit.apple</td><td></td></tr> -->
<!-- <tr><td style="text-align:center; ">g.</td><td>I&#95;love&#95;programming!</td><td></td></tr> -->
<!-- <tr><td style="text-align:center; ">h.</td><td>gold&#95;is&#95;expensive&#95;&#36;</td><td></td></tr> -->
</table>

In [1]:
interest-rate = 2

SyntaxError: cannot assign to operator (636284498.py, line 1)

In [2]:
apple_tv_123 = "yes"

In [3]:
COUNTER = 5

In [4]:
4_you = True

SyntaxError: invalid decimal literal (2542613920.py, line 1)

In [5]:
_account_balance = 15.5

### 2. Evaluate the following expressions:

<table align="left" class="table table-bordered" style="width:50%">
<tr>
<th style="text-align:center; width:5%">#</th>
<th style="text-align:center; width:30%">Expression to evaluate</th>
<th style="text-align:center; width:10%">Result</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>print (15 // 7 + 15 % 4)</td><td></td></tr>
<tr><td style="text-align:center; ">b.</td><td>print (16 / 4)</td><td></td></tr>
<tr><td style="text-align:center; ">c.</td><td>print (3 > 5 or not 9 - 5 != 4)</td><td></td></tr>
<tr><td style="text-align:center; ">d.</td><td>print (19 // 3 &#8727;&#8727; 2 &#8727; 2)</td><td></td></tr>
<tr><td style="text-align:center; ">e.</td><td>print(2 &#8727;&#8727; 2 &#8727;&#8727; 3)</td><td></td></tr>
<tr><td style="text-align:center; ">e.</td><td>print(int('10' + '2'), str(10 + 2))</td><td></td></tr>
</table>

In [6]:
# a.
print (15 // 7 + 15 % 4)

5

In [7]:
# b.
print (16 / 4)

4.0

In [8]:
# c.
print (3 > 5 or not 9 - 5 != 4)

True

In [9]:
# d.
print (19 // 3 ** 2 * 2)

4

In [10]:
# e.
print(2 ** 2 ** 3)

256

In [11]:
# Compare the following with e. above.
print((2 ** 2) ** 3)

64

In [12]:
# f.
print(int('10' + '2'), str(10 + 2))

102 12

### 3. What is the output of the following code?

#### a)

In [13]:
list1 = []
for n in range(1, 15):
    if n % 5 == 0 or n % 3 == 0:
        list1.append(n)
print(list1)

[3, 5, 6, 9, 10, 12]

#### b)

In [14]:
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8]

my_list = list1[1:4] + [len(list1)] + list2[len(list2)-3:] # [3, 5, 7] + [5] + [4, 6, 8] = [3, 5, 7, 5, 4, 6, 8]
my_list.append(len(list2)) # + [4]
my_list.append(list1[1:2]) # + [[3]]
print(my_list)  # [3, 5, 7, 5, 4, 6, 8, 4, [3]]

[3, 5, 7, 5, 4, 6, 8, 4, [3]]

#### c)

In [15]:
def mystery1(my_list, word):
    for i in range(len(my_list)):
        if word in my_list[i]:
            my_list[i] = '*'

str_list = ['apple', 'banana', 'durian', 'mango', 'pear']
mystery1(str_list, 'p')
print(str_list)

['*', 'banana', 'durian', 'mango', '*']

#### d)

In [18]:
def mystery2(my_list, word):
    for item in my_list:
        if word in item:
            item = '*'
    
str_list = ['apple', 'banana', 'durian', 'mango', 'pear']
mystery2(str_list, 'p')
print(str_list)

['apple', 'banana', 'durian', 'mango', 'pear']

#### e)

In [20]:
def modify_1(x, y):
    x[0] = y

my_list = [1, 2, 3]
modify_1(my_list, 99)
print(my_list) # [99, 2, 3]
    
my_dict = {1:0, 0:1}
modify_1(my_dict, 99)
print(my_dict) # [1:0, 0:99]

my_str = '123'
modify_1(my_str, '9')
print(my_str) # error - immutable

[99, 2, 3]
{1: 0, 0: 99}

TypeError: 'str' object does not support item assignment

#### f)

In [36]:
def modify_2(x, y):
    x.append(y)

def modify_3(x, y):
    x = x + [y]
    
def modify_4(x, y):
    x += [y]

my_list = [1, 2, 3]
modify_2(my_list, 99)
print(my_list) # [1, 2, 3, 99]

my_list = [1, 2, 3]
modify_3(my_list, 99)
print(my_list) # [1, 2, 3]

my_list = [1, 2, 3]
modify_4(my_list, 99)
print(my_list) # [1, 2, 3, 99]

[1, 2, 3, 99]
[1, 2, 3]
[1, 2, 3, 99]

### 4. Vowels

Write a program that prompts the user for a string and displays the string where all the vowels ('a', 'e', 'i', 'o', 'u') (case insensitive) have been replaced by *.

```
Enter a sentence :Mississippi River Meets Ohio River
New sentence     :M*ss*ss*pp* R*v*r M**ts *h** R*v*r
```

In [38]:
# Write your code here
sentence = input('Enter a setence\t:')
vowels = 'aeiou'
new_sentence = ''
for ch in sentence:
    if ch.lower() not in vowels:
        new_sentence += ch
    else:
        new_sentence += '*'
print('New sentence\t:' + new_sentence)

Enter a setence	:Mississippi River Meets Ohio River
New sentence	:M*ss*ss*pp* R*v*r M**ts *h** R*v*r

In [ ]:
# Solution

sentence = input('Enter a sentence :')

vowel = 'aeiou'
final_str = ''
for ch in sentence:
    if ch.lower() in vowel:
        final_str += '*'
    else:
        final_str += ch
        
print('Here is the sentence after hiding the vowels :' + final_str)

### 5. Digits

Define a function called `display_chars_after_digits`. The function takes in a string `my_str` as its parameter. The function prints those non-digit characters that appear immediately after a segment of digits in `my_str`.

E.g., 

- `display_chars_after_digits('1a2b3c')` prints `abc`
- `display_chars_after_digits('123ABC456')` prints `A`
- `display_chars_after_digits('abc12ABC0& 35.9-6.30=29.6')` prints `A&.-.=.`

In [42]:
# Write your code here
def display_chars_after_digits(my_str):
    non_numeric = ''
    for i in range(1, len(my_str)):
        if not my_str[i].isnumeric():
            if my_str[i-1].isnumeric():
                non_numeric += my_str[i]
    print(non_numeric)
    
display_chars_after_digits('1a2b3c')
display_chars_after_digits('123ABC456')
display_chars_after_digits('abc12ABC0& 35.9-6.30=29.6')

abc
A
A&.-.=.

In [ ]:
# Solution 1
def display_chars_after_digits(my_str):
    
    DIGITS = '0123456789'
    
    for index in range(1, len(my_str)):
        ch = my_str[index]
        prev_ch = my_str[index-1] # Note that since index starts from 1, index-1 is always valid.
        
        if ch not in DIGITS and prev_ch in DIGITS:
            print(ch, end='')

In [ ]:
# Solution 2
def display_chars_after_digits(my_str):
    
    # initialisation
    str_to_return = ''
    in_digit_seq = False
    
    for ch in my_str:
        if ch.isdigit():
            in_digit_seq = True
        else:
            if in_digit_seq == True:
                in_digit_seq = False
                str_to_return += ch
                
    print(str_to_return)

In [ ]:
# prints abc
display_chars_after_digits('1a2b3c')

In [ ]:
# prints A
display_chars_after_digits('123ABC456')

In [ ]:
# prints A&.-.=.
display_chars_after_digits('abc12ABC0& 35.9-6.30=29.6')

### 6. Rectangles

#### (a)

Define a function called `get_total_area`. The function takes in a parameter called `rect_list`. It is a list of tuples, where each tuple contains two integers, representing the width and length of a rectangle. The function returns the total area of all the rectangles in the list. Note that the area of a rectangle is equal to its width multiplied by its length.

E.g., `get_total_area([(1, 2), (4, 5), (2, 9)])` returns 40 (because the area of the first rectangle is 2, the area of the second rectangle is 20 and the area of the third rectangle is 18).

In [43]:
# Write your code here
def get_total_area(rect_list):
    my_total_area = 0
    for rect in rect_list:
        my_total_area += rect[0] * rect[1]
    return my_total_area

In [ ]:
# Solution
def get_total_area(rect_list):
    
    # initialisation
    tot_area = 0
    for tup in rect_list:
        w = tup[0]
        l = tup[1]
        tot_area += (w * l)
    return tot_area

In [44]:
# prints 40
print(get_total_area([(1, 2), (4, 5), (2, 9)]))

40

#### (b)

Define a function called `get_largest_rectangle`. The function takes in the same parameter as the one above. It returns a tuple containing three integers: the first two are the width and length of the rectangle that has the largest area in `rect_list`, the third integer is its area. 

If there are two rectangles sharing the same size (i.e., same area), the function should return the first such rectangle in `rect_list`.

E.g., `get_largest_rectangle([(1, 2), (4, 5), (2, 9), (10, 2)])` returns `(4, 5, 20)`. This is because the rectangle `(4, 5)` has the largest area of 20 among the rectangles. Although the last rectangle `(10, 2)` also has an area of 20, it appears after `(4, 5)` and therefore is not returned.

You can assume that the list `rect_list` contains at least one element.

In [45]:
# Write your code here
def get_largest_rectangle(rect_list):
    largest_rect = rect_list[0]
    largest_area = largest_rect[0] * largest_rect[1]
    for i in range(1, len(rect_list)):
        area = rect_list[i][0] * rect_list[i][1]
        if area > largest_area:
            largest_rect = rect_list[i]
            largest_area = area
    return_tuple = (largest_rect[0], largest_rect[1], largest_area)
    return return_tuple

In [ ]:
# Solution
def get_largest_rectangle(rect_list):
    
    # Write your code here
    # initialisation 
    max_area = 0
    max_rect = None
    
    for tup in rect_list:
        w = tup[0]
        l = tup[1]
        area = w * l
        if area > max_area:
            max_area = area
            max_rect = tup
            
    return (max_rect[0], max_rect[1], max_area)

In [46]:
# The code below should print the tuple (4, 5, 20)
print(get_largest_rectangle([(1, 2), (4, 5), (2, 9), (10, 2)]))

(4, 5, 20)

### 7. User Input

Write some code that prompts the user for two integer numbers `num1` and `num2` and stops prompting the user when 

(1) `num1` is a multiple of 3 and `num2` is a multiple of 5,

__or__ 

(2) when the sum of the two numbers is a multiple of 7.

For example:

```
first number : 4
second number : 5
Not valid!

first number : 6
second number : 6
Not valid!

first number : 6
second number : 10
Bye!
```

Another example run:
```
first number : 17
second number : 4
Bye!
```

In [56]:
# Write your code here
num1 = int(input('first number : '))
num2 = int(input('second number : '))
is_multiple = num1 % 3 == 0 and num2 % 5 == 0
is_sum = (num1 + num2) % 7 == 0

while not (is_multiple or is_sum):
    print("Not valid!\n")
    num1 = int(input('first number : '))
    num2 = int(input('second number : '))
    is_multiple = num1 % 3 == 0 and num2 % 5 == 0
    is_sum = (num1 + num2) % 7 == 0
print("Bye!")

first number : 4
second number : 5
Not valid!

first number : 6
second number : 6
Not valid!

first number : 6
second number : 10
Bye!

In [ ]:
# Solution - 1

num1 = int(input("Please enter a first number : "))
num2 = int(input("Please enter a second number : "))

while not( (num1 % 3 == 0 and num2 % 5 == 0) or (num1+num2) % 7 == 0 ):
    print("Not valid!")
    num1 = int(input("\nPlease enter a first number : "))
    num2 = int(input("Please enter a second number : "))

print('Bye!')

In [ ]:
# Solution - 2

num1 = int(input("Please enter a first number : "))
num2 = int(input("Please enter a second number : "))

while (num1 % 3 != 0 or num2 % 5 != 0) and (num1+num2) % 7 != 0:   # and has higher precedence than or
    print("Not valid!")
    num1 = int(input("\nPlease enter a first number : "))
    num2 = int(input("Please enter a second number : "))

print('Bye!')

### 8. Segmentation
Define a function called ```segment``` that takes in a string called ```text``` as its parameter.

```text``` contains segments of texts separated by one of the following characters: ```|-=```.

You can assume that `text` doesn't start with or end with one of these separators, e.g., you won't have `'|abc='` as `text`.

For example, ```text``` may be ```'a b c|def-123 aaa=|(abc)'``` .

The segments inside the string are:

```
'a b c' ,  'def' , '123 aaa' , '' , '(abc)'
```

The function segments the input string and returns all the segments together with the separaters as a list.

For example, given the input string above, the function returns the following list:

```
['a b c', '|', 'def', '-', '123 aaa', '=', '', '|', '(abc)']
```

In [61]:
# Write your code here
def segment(text):
    sep = '|-='
    my_string = ''
    seg_list = []
    for ch in text:
        if ch in sep:
            seg_list.append(my_string)
            seg_list.append(ch)
            my_string = ''
        else:
            my_string += ch
    seg_list.append(my_string)
    return seg_list

In [ ]:
# Solution 1

def segment(text):
    
    temp_result_list = [text]
    separators = '|-='
    
    # use each separator to split the segments in temp_result_list
    for separator in separators:
        
        new_result_list = []
        
        # split each segment in temp_result_list using separator
        for segment in temp_result_list:
            
            new_segments = segment.split(separator)
            new_segments_with_separator = []
            for new_segment in new_segments:
                new_segments_with_separator.append(new_segment)
                new_segments_with_separator.append(separator)
            
            # exclude the last separator from new_segments_with_separator
            new_segments_with_separator = new_segments_with_separator[0:len(new_segments_with_separator)-1]
            
            new_result_list += new_segments_with_separator
            
        temp_result_list = new_result_list
    
    return temp_result_list

In [ ]:
# Solution 2

def segment(text):
    
    # initialisation
    segment = ''
    result_list = []

    for ch in text:
        if ch in '|-=':
            # we have reached the end of a segment
            result_list.append(segment)
            result_list.append(ch)
            segment = ''
        else:
            segment += ch
    # at the end, the last segment needs to be added to the list
    result_list.append(segment)
    
    # return result_list
    return result_list

In [62]:
print(segment('a b c|def-123 aaa=|(abc)'))

['a b c', '|', 'def', '-', '123 aaa', '=', '', '|', '(abc)']

## <font color = 'green'>Additional Questions</font>

### 9. What is the output of the following code?

#### a)

In [63]:
list2 = []
for n in range(2, 20):
    if n % 2 == 0 and n % 7 == 0:
        list2.append(n)
print(list2) # [14]

[14]

#### b)

In [64]:
my_list = [3, 5, 7, 5, 4, 6, 8, 4]

your_list = []
for n in my_list:
    if n not in your_list:
        your_list.append(n)
print(your_list) # [3, 5, 7, 4, 6, 8]

[3, 5, 7, 4, 6, 8]

#### c)

In [65]:
def mystery1(a, b, c):
    a = b + c # 5 = 3 + 2
    d = 2 * a # 10 = 2 * 5
    print(d) # 10
    return a + b / c # 6.5

c = 2
b = 3
a = 4
d = mystery1(a, b, c)
print(d) # 6.5

10
6.5

#### d)

In [66]:
def mystery2(s1, s2):
    s = s1[1:len(s1)] + s2[0:3] # ellowor
    to_return = s.split('o') #['ell', 'w', 'r']
    return to_return
    
str1 = 'hello'
str2 = 'world'
unknown = mystery2(str1, str2)
print(unknown)

['ell', 'w', 'r']

#### e)

In [68]:
def mystery5(x, y=10, z='SMU'):
    print(x + y)
    print(z + ' Student Association')

In [69]:
mystery5(3) # 13, SMU Student Association

13
SMU Student Association

In [70]:
mystery5(3, 2) # 5, SMU Student Association

5
SMU Student Association

In [71]:
mystery5(3, 2, 'SUTD') # 5, SUTD Student Association

5
SUTD Student Association

In [72]:
mystery5(3, z='NTU') # 13, NTU Student Association

13
NTU Student Association

In [73]:
mystery5(3, y=5, z='NUS') # 8, NUS Student Association

8
NUS Student Association

In [74]:
mystery5(3, 'NUS') # error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### f)

In [75]:
name_1 = 'Good morning!'
name_2 = 'Good evening!'

print (name_1[0] + name_1[5] + name_1[len(name_1) - 1]) # G + m + !

print (name_1[0:4], name_2[5:]) # Good evening!

substr = name_2[5:9] + 't' # event
print(substr) # event
print(substr[::-1]) # tneve

Gm!
Good evening!
event
tneve

### 10. 
Given the Python code below, what will be the output of the code for the following values of n?

In [92]:
if n <= 5:
    print('Morning')
else: 
    if n > 20:
        print('Afternoon')
    elif n < 10:
        print('Evening')
    elif n > 8:
        print('Night')
    else:
        print('Day')

TypeError: '<=' not supported between instances of 'NoneType' and 'int'

<table align="left" class="table table-bordered" style="width:40%">
<tr>
<th style="text-align:center; width:5%">No</th>
<th style="text-align:center; width:5%">Value of a</th>
<th style="text-align:center; width:10%">Output</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>n = 2</td><td></td></tr>
<tr><td style="text-align:center; ">b.</td><td>n = 7</td><td></td></tr>
<tr><td style="text-align:center; ">c.</td><td>n = 9</td><td></td></tr>
<tr><td style="text-align:center; ">d.</td><td>n = 18</td><td></td></tr>
</table>

#### <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Which value of n will print 'Day' on the screen?

### 11. 

#### (a)

Write a program that prompts the user for a positive integer. The program prints out the odd integers between 1 and the number (both inclusive).


```
Enter a number :10
1 3 5 7 9 
```

```
Enter a number :5
1 3 5
```

In [101]:
# Write your code here
num = int(input('Enter a number :'))
for i in range(num+1):
    if i % 2 != 0:
        print(i, end=' ')

Enter a number :10
1 3 5 7 9

In [ ]:
# Solution 1

num = int(input('Enter an integer number :'))

output_str = ''
for i in range(num + 1):
    if i % 2 == 1:
        output_str += str(i) + ' '
output_str = output_str[0:len(output_str) - 1]
print(output_str)

In [100]:
# Solution 2

num = int(input('Enter an integer number :'))
for i in range(1, num, 2):
    print(i, end = ' ')
print(num)

Enter an integer number :5
1 3 5

#### (b) 

Write a program that prompts the user for a positive integer. Call this number $n$. The program then displays all the even numbers between 0 and 2$n$ (both inclusive).

```
Enter a number :10
0 2 4 6 8 10 12 14 16 18 20 
```

Other sample run:

```
Enter a number :15
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 
```

In [103]:
# Write your code here
num = int(input('Enter a number :'))
for i in range(num*2+1):
    if i % 2 == 0:
        print(i, end=' ')

Enter a number :15
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [ ]:
# Solution 1

num = int(input('Enter an integer number :'))
for i in range(num):
    print(i * 2, end = ' ')
print(2*(num))

In [ ]:
# Solution 2

num = int(input('Enter an integer number :'))
for i in range(2*num):
    if i % 2 == 0:
        print(i, end = ' ')
print(2*num)

In [ ]:
# Solution 3

num = int(input('Enter an integer number :'))
for i in range(0, 2*num, 2):
    print(i, end = ' ')
print(2*num)

### 12.

Observe the output below and write a program that prompts the user for a positive integer and prints out a sequence of numbers as shown below:

Sample run 1:

```
Enter a number :10
0 4 8 12 16 20 
```
Sample run 2:

```
Enter a number :35
0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 
```

In [105]:
# Write your code here
num = int(input('Enter a number :'))
for i in range(num*2+1):
    if i % 4 == 0:
        print(i, end=' ')

Enter a number :35
0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68

In [ ]:
# Solution 1

num = int(input("Enter a number :"))
for i in range(0, num * 2 + 1):
    if i % 4 == 0:
        print(str(i) + ' ', end='')

In [ ]:
# Solution 2

num = int(input("Enter a number :"))

n_to_be_printed = 0
while n_to_be_printed // 2 <= num:
    print(n_to_be_printed, end = ' ')
    n_to_be_printed += 4

### 13.

Write a program that takes in a string and prints out the characters with odd indices. 


```
Enter a sentence :Blue Lagoon
position 1: l
position 3: e
position 5: L
position 7: g
position 9: o

total: 5 characters at odd positions
```

In [107]:
# Write your code here
text = input('Enter a sentence :')
counter = 0
for i in range(len(text)):
    if i % 2 != 0:
        counter += 1
        print('position ' + str(i) + ': ' + text[i])
print('\ntotal: ' + str(counter) + ' characters at odd positions')

Enter a sentence :Blue Lagoon
position 1: l
position 3: e
position 5: L
position 7: g
position 9: o

total: 5 characters at odd positions

In [ ]:
# Solution

sentence = input('Enter a sentence :')
count = 0

for i in range(len(sentence)):
    if i % 2 == 1:
        ch = sentence[i]
        print('position ' + str(i) + ': ' + ch)
        count += 1
        
print('\ntotal:',count, 'characters at odd positions')

### 14.

Define a function ```get_total_length()``` that takes in a list of strings as its parameter. The function returns the total length of all the strings in the list.

E.g. ```get_total_length(['123', '00', 'abcde'])``` should return 10.

In [108]:
# write you code here
def get_total_length(text_list):
    total_length = 0
    for text in text_list:
        total_length += len(text)
    return total_length

In [ ]:
# Solution 1

def get_total_length(my_list):
    total_str = ''
    for s in my_list:
        total_str += s
    return len(total_str)

In [ ]:
# Solution 2

def get_total_length(my_list):
    count = 0
    for s in my_list:
        count += len(s)
    return count

In [109]:
# prints 10
print(get_total_length(['123', '00', 'abcde']))

10