<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://drive.google.com/uc?export=view&id=1zIB3Nw_z8N2SJSSdd2yWQIsDS0MGPYKm' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>IS111 - Notebook 1</h3><h2>Fundamentals</h2></th>
    </tr>
</table>

## Learning Outcomes

At the end of this lesson, you should be able to:
<ul>
<li> Declare and initialise <b>variables</b>.</li>
    <li> Know some basic data types in Python (<code>int</code>, <code>float</code>, <code>str</code>).</li>
<li> Perform <b>type conversion</b>.</li>
<li> Remember and apply the rules and naming conventions of variables.</li>
<li> Use <b>print</b> to display something to the screen and use <b>input</b> to prompt the user.</li>
<li> Use effectively the various arithmetic operators in Python, and to apply proper operator precedence and associativity laws.</li>
<li> Understand and apply Python naming conventions for variables. </li>
<li> Include comments in your code.</li>
</ul>

## I. Variables

When we write computer applications, we are almost always dealing with data. 

For example, suppose we are building an online retail store selling mobile phones. For each phone model we are selling, we need to store its brand, specs, price, etc. so that we can display such information to online shoppers. Internally we also need to store the quantity of each model we have in stock, online transaction data such as buyers' names, email addresses, purchase dates, etc.

You can see from this example that computer applications need to store data, and there are different types of data that we need to handle such as numbers, text, dates, etc. We will now learn about variables, which are used to store data and are building blocks of any computer program. One of the most powerful features of programming languages is the ability to manipulate variables.

Just like what you have learned in your algebra class, a <b>variable</b> is a <b>name</b> (or symbol) that <b>refers to a value</b>. In algebra, variables refer to numbers only. In programming languages, variables can refer to numbers, text and other types of data.

Variable <b>creation</b> or <b>declaration</b> happens automatically when you <b>assign</b> a value to a variable.

Take a look at the following example code:

In [ ]:
quantity = 2
price = 1548.0
model = "Galaxy Z"
customer_name = "John Tan"

Each of the lines above is an <b>assignment statement</b>. An assignment statement binds a name, on the left-hand side of the equal sign, to a value, on the right-hand side.

So the above example code creates four variables and assigns a value to each of them. The first line assigns the integer 2 to a variable named `quantity`. The second assigns the decimal number 1548.0 to a variable named `price`. The third assigns the text `"Galaxy Z"` to a variable named `model`. Finally the last line assigns the text `"John Tan"` to a variable named `customer_name`.

<img align="left" src='https://drive.google.com/uc?export=view&id=0B08uY8vosNfobDBuOXVXQWVxMFE' style="width: 60px; height: 60px;"><br />Let's do an exercise !

In the cell below, create a variable called `name` and assign the value `"Steve Jobs"` to it. Create another variable called `age` and assign the value `24` to it. Run the cell.

In [1]:
# Write you code below
name = "Steve Jobs"
age = 24

Now run the following cell to print out the values of the variables `name` and `age`. If you see an error message, that means you have not properly created your variable `name` or `age`.

Note that `print()` used in the code below is a <b>function</b> that we will talk about later.

In [2]:
print(name)
print(age)

Steve Jobs
24

## II. Data Types

You must have noticed from the example above that a variable can store a number or a piece of text. These are just some examples of <b>data types</b> in Python.

Python has some built-in (or standard) data types. In this notebook, we will briefly introduce a few. We will gradually introduce more later on.

#### Numeric Types

While there are quite a few numeric types in Python, we will only introduce the following two, which are the most commonly used ones:

<br/>

<li><code>int</code>: This data type stores integers (i.e., whole numbers).</li>
<li><code>float</code>: This data type stores real numbers (i.e., decimal numbers, or numbers that may have decimal points).</li>

We can see that the variable `quantity` above stores an int value while the variable `price` above stores a float value.

#### Sequences

There are a number of sequence types in Python. We will only introduce `str` for now. We will introduce other ones gradually later.

<br>
<li><code>str</code>: This data type is used to store a piece of text, which is essentially a sequence of characters. The variables <code>model</code> and <code>customer_name</code> above are examples of string variables. Strings are usually written inside a pair of single quotes or a pair of double quotes.</li>

For example,

In [ ]:
string1 = 'SMU'
string2 = "SIS"

print(string1)
print(string2)

<img align="left" src='https://drive.google.com/uc?export=view&id=0B08uY8vosNfoa2dncC1mOFdhSFU' style="width: 70px; height: 70px;"><br/>
Why do we have both ways to define strings?

<ul>
<li><b>Double quoted</b> strings can contain <b>single quotes</b> inside them.
<li><b>Single quoted</b> strings can contain <b>double quotes</b> inside them.
</ul>

See the code below for some examples:

In [ ]:
s1 = "Today is Cindy's birthday!"
s2 = 'The title of the book is: "Fun with Python!"'

print(s1)
print(s2)

Note that Python doesn't care whether you use single quotes or double quotes to define a string.

## III. Operators

We have learned about variables and some data types. A natural question to ask is what we can do with variables, or what we can do with the different types of values stored in variables. An immediate answer is that we can perform operations on them using <b>operators</b>.

Operators are special tokens that represent <b>computations</b> like addition, multiplication and division. The <b>values</b> an operator operates on are called <b>operands</b>.

For example, in the expression `a + b`, `a` and `b` are called the <b>operands</b> and `+` is the <b>operator</b>.

### Arithmetic Operators:

The table below shows some commonly used arithmetic operators in Python:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th>
<th style="width:20%">Operation</th>
<th>Description</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>Adds values of the two operands.</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>Subtracts the operand on the right from the operand on the left.</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>Multiplies the operand on the left by the operand on the right.</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>Divides the operand on the left by the operand on the right.</td>
</tr>
<tr>
<td>%</td>
<td>Modulo</td>
<td>Divides the operand on the left by the operand on the right and returns the remainder.</td>
</tr>
<tr>
<td>**</td>
<td>Exponent</td>
<td>Returns the left operand raised to the power of the right operand.</td>
</tr>
<tr>
<td>//</td>
<td>Floor Division</td>
<td>Divides the left operand by the right operand but returns only the integer part with any fractional part truncated. For example, 3//2 gives 1 instead of 1.5.</td>
</tr>
</table>

To see how these operators work, run the following code and observe the results:

In [3]:
a = 3
b = 5

print(a + b)
print(b - a)
print(a * b)
print(b / a)
print(b % a)
print(b ** a)
print(b // a)

8
2
15
1.6666666666666667
2
125
1

We can see that `b % a` gives `2`. This is because when we divide `5` by `3`, the remainder is `2`. We also see that `b ** a` is `125`. This is because `5` raised to the power of `3`, or in other words, `5 * 5 * 5`, is `125`. Finally, we see that `b // a` gives `1`. This because when we keep only the integer part of the result of `5 / `3 and ignore the fractional part, we get `1`.

Besides the arithmetic operators above, there are also many other operators in Python, which we will introduce gradually.

It is worth noting that when you mix `int` type and `float` type of values in an arithmetic expression, the result will be a `float` type of value.

For example, for the following code, do you expect the output to be `1.0` or `1`? You can run the code to check the output.

In [4]:
a = 0.5
b = 2
print(a * b)

1.0

You will see that `0.5 * 2` gives `1.0` instead of `1`. Similarly, run the code below and check the types of the output values:

In [5]:
print(2.0 + 1)
print(2.0 / 2)
print(11.0 % 3)
print(11 // 3.0)
print(2 ** 2.0)

3.0
1.0
2.0
3.0
4.0

Another thing to note is that for division, no matter what the types of the operands are, the result is always represented as a `float`. Run the code below and observe the output:

In [6]:
print(4 / 2)

2.0

<img align="left" src='https://drive.google.com/uc?export=view&id=0B08uY8vosNfobDBuOXVXQWVxMFE' style="width: 60px; height: 60px;"><br />Let's do an exercise !

Can you find out the values of the following mathematical expressions using Python?

$4.57 \times 3.29 + 3.5894$

$\frac{9.5489}{2.46}$

$3^{20}$

Use the code cell below to write the expressions above in Python and run your code.

In [7]:
# Write your code below:
print(4.57*3.29+3.5894)
print(9.5489/2.46)
print(3**20)

18.6247
3.881666666666667
3486784401

You should get the following values:

18.6247

3.881666666666667

3486784401

### String Concatenation

The operators above are used with numbers.

There is a special usage of the operator `+` when it is used with strings. We can use `+` to <b>concatenate</b> two strings, meaning to combine them into a single string, as shown below:

In [8]:
string1 = "Singapore "
string2 = "Management "
string3 = "University"
name = string1 + string2 + string3
print(name)

Singapore Management University

### Operator Precedence

When more than one operator appears in an expression, the <b>order</b> of evaluation depends on the <b>rules of precedence</b>.

Python follows the <b>same precedence rules</b> for its mathematical operators that <b>mathematics</b> does.

The acronym <b>PEMDAS</b> is a useful way to remember the order of operations:
<ol>
<li><b>P</b>arentheses
<li><b>E</b>xponentiation
<li><b>M</b>ultiplication, <b>D</b>ivision
<li><b>A</b>ddition and <b>S</b>ubstraction
</ol>

The table below shows the precedence of the operators we have learned so far:

<table align="left" class="table table-bordered">
<tr>
<th style="text-align:center; width:25%">Operator</th>
<th style="text-align:center; width:35%">Description</th>
</tr>
<tr>
    <td style="text-align:center; vertical-align:middle;"><code>**</code></td>
<td>Exponent</td>
</tr>
<tr>
    <td style="text-align:center; vertical-align:middle;"><code>*</code>, <code>/</code>, <code>%</code>, <code>//</code></td>
<td>Multiplication, division, modulo and floor division</td>
</tr>
<tr>
    <td style="text-align:center; vertical-align:middle;"><code>+</code>, <code>-</code></td>
<td>Addition and subtraction</td>
</tr>
</table>

<br/>

Note that when more operators are introduced, we will add more rows to this table.

### Operator Associativity

When an expression contains two or more operators that have the same precedence, we determine the order of operations based on associativity. For most operators, associativity is from left to right. 

For example, consider the following expression:

`5 - 4 + 2`

Because subtraction (`-`) and addition (`+`) have the same precedence, the order of operations is from left to right:

`((5 - 4) + 2)`

However, the exponent operator (`**`) has right-to-left associativity.

For example, run the following Python code:

In [9]:
print(2 ** 3 ** 2)

512

You can see that we get 512, which is $2^{3^2}$, not $(2^3)^2$. So

`2 ** 3 ** 2`

should be computed as

`(2 ** (3 ** 2))`

In other words, the associativity is from right to left.

To avoid any confusion, it's always a good idea to explicitly use parentheses when you have any doubt. So in the example above, it is better to explicitly write `(2 ** (3 ** 2))` instead of `2 ** 3 ** 2` in your code to avoid any confusion you may have.

## IV. Built-in Functions

In the example code above, you may have noticed that we used `print(x)` to display the value of `x`. Here `print()` is a Python <b>built-in function</b>.

Generally speaking, a <b>function</b> is a block of code that performs a specific task and can be re-used. We will have a separate notebook on functions, including how we define them and use them. In this notebook, we only briefly talk about built-in functions.

Built-in functions are ready-to-use functions defined by Python. You do not need to remember all of them but you should be familiar with the frequently used ones.

### <code>print()</code>

One of such frequently used built-in functions is `print()`. Take a look at the code below for some example code using `print()`:

In [10]:
print(1.0)

x = 0.9
y = 2.0
print(x)
print(x + y)
print(x, y)

s = "SMU"
print(x, y, s)

1.0
0.9
2.9
0.9 2.0
0.9 2.0 SMU

We can see that we can use `print()` to directly print out a value (such as `1.0`), to print out the value of a variable (such as `x`), to print out the value of an expression (such as `x + y`), or to print out the values of several variables or expressions (separated by commas).

Using a function is also called <b>calling</b> a function.

### <code>input()</code>

There is hardly any program without any user input. In most cases the input comes from the keyboard. 

For this purpose, Python provides the built-in function `input()`. When the `input()` function is called, the program pauses until the user has entered some input followed by hidding the return key on the keyboard. Usually, when calling the `input()` function, we include a <b>prompt string</b>, which will be printed on the screen to prompt the user.

Let's have a look at the following example. Run the cell below to observe what happens.

In [11]:
name = input("What's your name? ")
age = input("Your age? ")

print()
print("Hello,", name)
print("You are", age, "years old.")

What's your name? ok
Your age? 88

Hello, ok
You are 88 years old.

You should see that the prompt message `"What's your name?"` is displayed on the screen followed by a text box for you to enter something. After you enter your name and hit the return key, you will see the next prompt message `"Your age?"` displayed on the screen followed by a text box.

You can also see that after you enter your name and age, the information you have entered will be reflected in the messages printed out. This is because the text you have entered is <b>returned</b> by the `input()` function and assigned to the variable `name` or the variable `age`.

Note that the input from a user is always captured as a string. So in the example above, the variable age stores a `str` type of value. This can be verified by the following code:

In [12]:
print(age + 1)

TypeError: can only concatenate str (not "int") to str

When you execute the code above, you will get a `TypeError`. This is because `age` is a string, which cannot be added to a number.

To force `age` to become a number, you can use another built-in function called `int()` to perform type conversion, as shown below.

In [13]:
print(int(age) + 1)

89

We can see that `int(age)` converts the value of `age` from a `str` to an `int`. It can then be added with `1`. Note that `int(age)` creates a new int value but it does not directly change `age`. The `age` variable remains to be a `str`.

### <code>type()</code>

Another useful built-in function is `type()`, which allows you to check the type of a variable or expression. See the example below:

In [ ]:
print(type(1))
print(type(2.0))
print(type("abc"))

Let's use `type()` to check the data type of the variable `age` above:

In [ ]:
print(type(age))

You should see that the type of `age` is `str`.

### <code>int()</code>, <code>float()</code> and <code>str()</code>

You have seen that we can use the built-in function `int()` to convert a non-`int` type of value into an `int`. There is also a built-in function `float()` that converts a non-`float` type of value to a `float`.

In [ ]:
a = "3.14"
b = float(a)
print(a, type(a))
print(b, type(b))

If you run the cell above, you will see that `a` is a `str` while `b` is a `float`.

On the other hand, the built-in function `str()` can convert a non-string value into a string.

In [ ]:
a = 99.99
b = str(a)

print(a, type(a))
print(b, type(b))

When you try to convert a `float` type of value to an `int`, you will get the integral part of the number, as shown in the example below:

In [ ]:
a = 9.8
b = int(a)
print(b, type(b))

You may be wondering what other built-in functions there are in Python. While it is not necessary for you to memorize all the built-in functions of Python, you may want to take a look at them at https://docs.python.org/3/library/functions.html.

<img align="left" src='https://drive.google.com/uc?export=view&id=0B08uY8vosNfobDBuOXVXQWVxMFE' style="width: 60px; height: 60px;"><br />Let's do an exercise !

In the cell below, can you write code that prompts the user for his/her given name and surname separately, and then display his/her full name? Subsequently, can you prompt the user for the year he/she was born, and then compute and display his/her age?

In [14]:
# Write your code below:
from datetime import date

name = input("I want your name: ")
surname = input("Now your surname: ")
print(name, surname)

born_year = int(input("Give me your year born: "))
print(date.today().year - born_year)

I want your name: apple
Now your surname: soup
apple soup
Give me your year born: 2000
22

## V. Comments

Almost all programming languages allow you to add <b>comments</b> to your code. Comments are not executed by the computer. They are purely for humans to read. They are added to provide explanations of the code and improve the readability of the code.

In Python, a line that starts with a `#` symbol is a comment. Run the cell below to observe what happens:

In [15]:
# This line is a comment. The following line is code.
my_height = 1.75

# This line is a comment. The following line is also a comment.
# my_weight = 60.0

print("My height: ", my_height)
print("My weight: ", my_weight)

My height:  1.75

NameError: name 'my_weight' is not defined

You can see that although `my_height` could be displayed, the computer could not find the variable `my_weight` and therefore an error occurs. This is because the declaration of `my_weight` is in a comment, which is ignored by the computer.

## VI. Naming Rules and Conventions

We have played with variables a lot. You may have noticed that so far all the variable names we use are in lowercase, and if there are multiple words in a variable name, they are separated by an underscore. 

There are indeed rules you need to follow to name a variable. 

<ul>
    <li>Python keywords cannot be used as variable names. You can find the list of Python keywords in the table below.</li>
    <li>A variable name cannot contain any space.</li>
    <li>The first character of a variable name must be a letter or an underscore character (i.e., <code>_</code>), and the remaining characters must be a letter, a digit, or an underscore character.</li>
</ul>

| Keywords | | | | | | | | | |
| :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: |
| False | class | finally | is | return | None | continue | for | lambda | try |
| True | def | from | nonlocal | while | and | del | global | not | with |
| as | elif | if | or | yield | assert | else | import | pass | break | 
| except | in  | raise | | | | | | | |

Also note that Python is case-sensitive. `SMU` and `smu` are treated as two different names.

Besides the rules above, we generally should also follow some naming conventions.

<ul>
    <li>A variable name should be meaningful and represent what it stores. Names such as <code>score</code>, <code>age</code> and <code>price</code> are good but names such as <code>s</code>, <code>a</code> and <code>p</code> are not good. Usually variable names are nouns.</li>
    <li>Use lowercase letters to name variables. If a variable name contains multiple words, use underscore characters to join the words. E.g., <code>home_address</code>, <code>first_name</code>, <code>conversion_rate</code>.</li>
</ul>