<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://drive.google.com/uc?export=view&id=1zIB3Nw_z8N2SJSSdd2yWQIsDS0MGPYKm' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>IS111 - Notebook 4</h3><h2>Tuples</h2></th>
    </tr>
</table>

## Learning Outcomes

At the end of this lesson, you should be able to:
<ul>
<li> Understand what is a tuple.</li>
<li> Create a tuple.</li>
<li> Access each element inside a tuple using [ ].</li>
<li> Understand that tuples are immutable.</li>
</ul>


We often need to store a group of values together as a single entity. For example, instead of storing a person's full name as a single string, we often want to store his/her surname and given name as two separate strings, but these two strings need to be associated together. In another example, we may want to store the brand, model and price of a smart phone together. How can we make this happen?

In Python, there is a data type called `tuple` that allows us to easiy store a group of values together. In this note book, we learn some basics of Python tuples.

## I. Creating a Tuple

Recall that a string is a sequence of characters. A `tuple` is another kind of a sequence. Generally speaking, we can think of a `tuple` as a sequence of elements of any type. See the following code for two example tuples:

In [ ]:
name = ("George", "Washington")
phone_info = ("Samsung", "Galaxy Note 7", 759.5)

print(name)
print(type(name))

print(phone_info)
print(type(phone_info))

In the example above, the first tuple called `name` has two elements, both of which are strings. The second tuple called `phone_info` has three elements, which are two strings and a float. 

We can see that to create a tuple, we need to use a pair of parentheses and place the elements inside the parentheses, separated by commas. A tuple can be stored in a single variable. Also note that the elements of a tuple can be of different data types. For example, `phone_info` contains two strings and a number.

## II. Accessing the Elements of a Tuple

We can access each individual element of a tuple by specifying its position in the tuple. In computer programming, a number indicating the position of an element in a sequence is called an <b>index</b>. Indices (or indexes) always start from 0 (rather than from 1).

To access an element in a tuple, we use a pair of square brackets [ ] to indicate the index of the element we want to access.

For example, given the two tuples defined above, what do you think the following code will print? Run the code to check whether your guess is correct.

In [ ]:
print(name[0])
print(phone_info[2])

### Tuples Are Immutable

Although we could access the elements of a tuple one by one, these elements cannot be modified. 

Run the following code and see what happens:

In [ ]:
my_major = ("SMU", "SIS", "Information Systems")
print(my_major)

my_major[2] = "Smart-City Management & Technology"
print(my_major)

We can see that we encounter a `TypeError` and it ways 'tuple' object does not support item assignment. This means we cannot change an item inside a tuple.

## III. Using Tuple as a Return Value in a Function

Previously we have talked about user-defined functions. So far the functions we have seen either does not return any value or returns a single value. But sometimes we may want a function to return multiple values. In this case, we can first group these values into a tuple and then return the tuple as a single entity.

Take a look at the following code and think of how it works. Run the code to see if you are right.

In [ ]:
def get_full_name():
    surname = input("What's your surname? ")
    given_name = input("What's your given name? ")
    full_name = (given_name, surname)
    return full_name

name = get_full_name()
print("Hello, ", name[0], "!")
print("Your surname is", name[1])

We can even simplify the code above by directly return the two values together, as shown in the following modified `get_full_name2` function:

In [ ]:
def get_full_name2():
    surname = input("What's your surname? ")
    given_name = input("What's your given name? ")
    return (given_name, surname)

name = get_full_name()
print("Hello, ", name[0], "!")
print("Your surname is", name[1])

Note that even if we leave out the pair of parentheses in the return statement, the code would work the same, as shown below. Here Python would automatically combine the two values into a tuple and return it.

In [ ]:
def get_full_name3():
    surname = input("What's your surname? ")
    given_name = input("What's your given name? ")
    return given_name, surname

name = get_full_name()
print("Hello, ", name[0], "!")
print("Your surname is", name[1])

Finally, when a function returns a tuple that consists of $n$ elements, we could also use $n$ variables to capture the elements of the returned tuple, as shown below:

In [ ]:
def get_user_info():
    surname = input("What's your surname? ")
    given_name = input("What's your given name? ")
    age = int(input("What's your age? "))
    return (surname, given_name, age)

(name1, name2, age) = get_user_info()
print(name1)
print(name2)
print(age)

<img align="left" src='https://drive.google.com/uc?export=view&id=0B08uY8vosNfobDBuOXVXQWVxMFE' style="width: 60px; height: 60px;"><br />Let's do an exercise !

Define a function called `perform_integer_devision` that takes in two parameters, `m` and `n`. It returns a tuple that consists of two elements: the integer part of the quotient of `m` divided by `n`, and the remainder of `m` divided by `n`.

In [ ]:
def perform_integer_division(m, n):
    # Modify the code below based on the description above.
    return (, m % n)
    
    
    return

When the following code is run, the correct output should be `(3, 1)` and `(2, 5)`.

In [ ]:
print(perform_integer_division(10, 3))
print(perform_integer_division(19, 7))